In [4]:
import pandas as pd

In [5]:
pd.options.mode.chained_assignment = None

In [6]:
df = pd.read_csv('../test-data/jj.csv')

In [7]:
df

          date   data
0   1960-01-01   0.71
1   1960-04-01   0.63
2   1960-07-02   0.85
3   1960-10-01   0.44
4   1961-01-01   0.61
..         ...    ...
79  1979-10-01   9.99
80  1980-01-01  16.20
81  1980-04-01  14.67
82  1980-07-02  16.02
83  1980-10-01  11.61

[84 rows x 2 columns]

In [8]:
df.head()

         date  data
0  1960-01-01  0.71
1  1960-04-01  0.63
2  1960-07-02  0.85
3  1960-10-01  0.44
4  1961-01-01  0.61

In [9]:
df.tail()

          date   data
79  1979-10-01   9.99
80  1980-01-01  16.20
81  1980-04-01  14.67
82  1980-07-02  16.02
83  1980-10-01  11.61

In [16]:
train = df[:-4]
test = df[-4:]

In [17]:
import numpy as np

In [18]:
# 訓練データせっとのdata列の算術平均を計算

In [19]:
historical_mean = np.mean(train['data'])
print(historical_mean)

4.3084999875

In [20]:
test.loc[:, 'pred_mean'] = historical_mean

In [21]:
eeew

NameError: name 'pred_mean' is not defined